.mypy_cache/
__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/
pylint_report.txt
*.egg

# PyInstaller
file_version_info.txt
*.manifest
*.spec
!dav2mkv.spec

# Virtual environments
venv/
